.text{
    letter-spacing: 6px;
    font-weight: 500;
    font-family: initial;
    font-size: 40px;
   font-weight: 400;
    background-color:wheat;
    padding: 60px 0;
    color: #000000bd;

}
.boxShadow{
    box-shadow: 3px 0 20px 1px;
    padding: 20px 0;
}
.col4{
    display: flex;
    flex-direction: column;
    align-items: center;
}